.avatar {
	height: 200px;
    width: 200px;
		border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
	margin-top: 25px;
	margin-bottom: 25px;
}
#tab2{
	text-align: center;
}
#inputform{
	width: 200px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#editPassword{
	text-align: center;
}
