body, legend {
    background-image: url(/static/bgimage4.jpg);
    color: #AAAAAA;
    background-size: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
}

a {
	color: #00B7FF;
}

img {
    max-width: 100%;
    height: auto;
}
