body, legend {
    background-color: #404040;
    color: #AAAAAA;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
	color: #00B7FF;
}

img {
    max-width: 100%;
    height: auto;
}
