body, legend {
    background-image: url(/static/bgimage4.jpg);
    color: #AAAAAA;
    background-size: 100%;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
}
h1{
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}


img {
    max-width: 100%;
    height: auto;
}
#bgm{
  display: none;
}
#bg-music{
  width: 300px;
  height: 33px;

}
