<link rel="stylesheet" href="/stylesheets/game.css">
<link rel="stylesheet" href="/stylesheets/chatForGame.css">
<div id="prompt" class="name-prompt">
	<input id="join" type="hidden" class="btn btn-primary" type="submit" value="Join the battle">
	<div class="tank-select col-md-12">
		<label>Choose tank skin:</label>
		<ul class="tank-selection">
			<li class="selected" data-tank="1">
				<img src="/img/preview-tank-1.png">
			</li>
			<li data-tank="2">
				<img src="/img/preview-tank-2.png">
			</li>
			<li data-tank="3">
				<img src="/img/preview-tank-3.png">
			</li>
		</ul>
	</div>
</div>

<div id="arena" class="arena">
</div>
<!-- <div id="chatting" class="chatting"> -->
	<ul class="pages">
		<li class="chat page">
			<div class="chatArea">
				<ul class="messages"></ul>
			</div>
			<input class="inputMessage" placeholder="Type here..."/>
		</li>
		<li class="login page">
			<div class="form">
				<h3 class="title">Press Enter to start Chatting Room</h3>
			</div>
		</li>
<!-- </div> -->

<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/gameObjects.js"></script>
<script src="/javascripts/gameClient.js"></script>
<script src="/javascripts/chatForGame.js"></script>
