<h1>Users List</h1>
<ul>
	<% for(var i=0; i<users.length; i++) { %>
		<% var user = users[i]; %>
		<li>
			<a href="/users/<%= user._id %>">
				<%= user.local.username + "(" + user.local.email + ")" %>
			</a>
		</li>
	<% } %>
</ul>
