<link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/stylesheets/search.css">
<h1>Users</h1>

<ng-view></ng-view>

<!-- Template -->
<script type="text/ng-template" id="/users.html">
	Search: <input type="text" ng-model="search.local.username">
	<ul>
		<li ng-repeat="user in users | filter: search" >
		<br>
			<img class="user-image" src="/img/default-avatar.jpg">
        <label class="name">
            {{user.local.username}}<br>
        </label>
        <label class="pull-right">
            <a  class="btn btn-success btn-xs glyphicon glyphicon-ok" href="#" title="View"></a>
            <a  class="btn btn-danger  btn-xs glyphicon glyphicon-trash" href="#" title="Delete"></a>
            <a  class="btn btn-info  btn-xs glyphicon glyphicon glyphicon-comment" href="#" title="Send message"></a>
        </label>
        <div class="break"></div>
		</li>
	</ul>
</script>

<script>
	angular.module('app', ['ngRoute'])
		//---------------
		// Controllers
		//---------------
		.controller('UsersController', function ($scope, $http) {
			$http.get('/users', {
				headers: {
					'Accept': 'application/json'
				}
			}).then(function(response) {
				var users = response.data;
				$scope.users = users;
			});
		})

		//---------------
		// Routes
		//---------------
		.config(['$routeProvider', function ($routeProvider) {
			$routeProvider
				.when('/', {
					templateUrl: '/users.html',
					controller: 'UsersController'
				});
		}]);
</script>
