<h1>Edit my Profile</h1>

<form method="POST" action="/profile/edit">
	<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
	<dl class="form">
		<dt>
			<label for="username">User name</label>
		</dt>
		<dd>
			<div class="field">
				<input type="text" name="username">
			</div>
		</dd>

		<dt>
			<label for="email">Email</label>
		</dt>

		<dd>
			<div class="field">
				<input type="email" name="email">
			</div>
		</dd>

		<dt>
			<label for="pic">Profile Picture</label>
		</dt>
		<dd>

		</dd>
	</dl>

	<input type="submit" value="Update">
</form>
