<div class="col-sm-6 col-sm-offset-3">
	<h1>
		<span>R</span>
		<span>e</span>
		<span>s</span>
		<span>e</span>
		<span>t</span>
		<span></span>
		<span>P</span>
		<span>a</span>
		<span>s</span>
		<span>s</span>
		<span>w</span>
		<span>w</span>
		<span>o</span>
		<span>r</span>
		<span>d</span>
	</h1>

	<form action="/forgot-password" method="post">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />

		<div class="form-group">
			<label>Username or Email</label>
			<input type="text" class="form-control" name="usernameOrEmail" required>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Send Reset Password Email</button>
	</form>
</div>