<div class="col-sm-6 col-sm-offset-3">
	<h1>
		Forgot Password
	</h1>

	<form action="/forgot-password" method="post">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />

		<div class="form-group">
			<label>Username or Email</label>
			<input type="text" class="form-control" name="usernameOrEmail" required>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Send Reset Password Email</button>
	</form>
</div>