<link rel="stylesheet" href="/stylesheets/help.css">
<div class="page-header text-center">
<h1>
<span>H</span>
<span>e</span>
<span>l</span>
<span>p</span>
</h1>
</div>

<div class="well">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#info" data-toggle="tab">Information about us</a></li>
    <li><a href="#gameinfo" data-toggle="tab">How to play</a></li>
    <li><a href="#acknowledgements" data-toggle="tab">Acknowledgements</a></li>

  </ul>
  <div id="myTabContent" class="tab-content">
    <div class="tab-pane active in" id="info">
      <div id="tab">
        <div class="row">
          <h2>Welcome to Dawn of the tanks!</h2>
          <p>This is the CMPT 470 Group 3 project!</p>
          <h3>Group Member:</h3>
          <br>
          <ul id = "list">
            <li>Aaron Ma</li>
            <li>Arthur Chu</li>
            <li>Frank Jiang</li>
            <li>Ivan Hoo</li>
          </ul>
          <br>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="gameinfo">
    	<div id="tab2">
        <h2>Gaming Instruction</h2>
        <p>If you have an account, please log in and start play the game. Otherwise, please register a new account.
        <br>Basic Instruction:<br>
          <ol id="list2">
            <li>You can choose a tank skin when you first start the game.</li>
            <li>Then you can use A S W D to control the tank</li>
            <li>You can use the mouse left click to fire</li>
          </ol>
        </p>
        <p>Notes: Background music only works for game page. Other pages won't be able to play background music</p>
      </div>
    </div>

    <div class="tab-pane fade" id="acknowledgements">
    	<div id="tab3">
        <div>
          Special tanks (intended spelling mistake) to rubentd on <a href="http://rubentd.com/blog/creating-a-multiplayer-game-with-node-js/">this tutorial</a> for the base game code and assets.
        </div>
        <div>
          Icons made by <a href="https://www.flaticon.com/authors/madebyoliver" title="Madebyoliver">Madebyoliver</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </div>
      </div>
    </div>

  	</div>
  </div>
</div>
