<h1>Help</h1>
<p>
  This is the help page :)

  Welcome to Dawn of the tanks!
  This is the CMPT 470 Group 3 project!

  Group Member:
  <ul>
    <li>Aaron Ma</li>
    <li>Arthur Chu</li>
    <li>Frank Jiang</li>
    <li>Ivan Hoo</li>
  </ul>
  
</p>
