<div class="page-header text-center">
<h1>
  <span>D</span>
  <span>a</span>
  <span>w</span>
  <span>n</span>
  <span></span>
  <span>o</span>
  <span>f</span>
  <span></span>
  <span>t</span>
  <span>h</span>
  <span>e</span>
  <span></span>
  <span>T</span>
  <span>a</span>
  <span>n</span>
  <span>k</span>
  <span>s</span>
  </h1>
</div>

<div id="buttonarea">
<button type="button" id="playGame" class="btn btn-success" >Start Game</button>
<button type="button" id="goChat" class="btn btn-success" >Start Chat</button>
</div>



<script src="/javascripts/home.js"></script>
