<h1>Welcome to our Dawn of Tank</h1>
<div id="buttonarea">
	<button type="button" id="playGame" class="btn btn-success" >Start Game</button>
	<button type="button" id="goChat" class="btn btn-success" >Start Chat</button>
</div>

<div id="bgm" class="bgm">
	<video id="bg-music" class="bg-music" controls>
		<source src="/img/Dawn.mp3" type="audio/mpeg">
	</video>
</div>

<a href="#" class="menu-item"> <i class="fa fa-bar-chart"></i> </a>
<a href="#" class="menu-item"> <i class="fa fa-plus"></i> </a>
<a href="#" class="menu-item"> <i class="fa fa-heart"></i> </a>
<a href="#" class="menu-item"> <i class="fa fa-envelope"></i> </a>
<a href="#" class="menu-item"> <i class="fa fa-cog"></i> </a>
<a href="#" class="menu-item"> <i class="fa fa-ellipsis-h"></i> </a>
<script src="/javascripts/home.js"></script>
