
<head>
<title>Find Your Location</title>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<style>

#map {
height:450px;
width:100%;
}

</style>
</head>
<body>
<h1>
  <span>M</span>
  <span>y</span>
  <span></span>
  <span>L</span>
  <span>o</span>
  <span>c</span>
  <span>a</span>
  <span>t</span>
  <span>i</span>
  <span>o</span>
  <span>n</span>
  </h1>
<div id="map"></div>
<script>
// Reference: https://developers.google.com/maps/documentation/javascript/examples/map-geolocation?csw=1
var map, infoWindow;
function initMap() {
map = new google.maps.Map(document.getElementById('map'), {
zoom:12,
center:{lat:49.2827,lng:-123.1207}
});
infoWindow = new google.maps.InfoWindow;
if (navigator.geolocation) {
navigator.geolocation.getCurrentPosition(function(position) {
var pos = {
lat: position.coords.latitude,
lng: position.coords.longitude
};
var marker = new google.maps.Marker({
position:pos,
map:map,
icon:position.iconImage
});



marker.setPosition(pos);

map.setCenter(pos);

infoWindow.setContent('Your Location')
marker.addListener('click', function(){
infoWindow.open(map, marker);
});
}, function() {
handleLocationError(true, infoWindow, map.getCenter());
});
} else {
// Browser doesn't support Geolocation
handleLocationError(false, infoWindow, map.getCenter());
}
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
infoWindow.setPosition(pos);
infoWindow.setContent(browserHasGeolocation ?
'Error: Please allow browser to access your location service' :
'Error: Your browser doesn\'t support geolocation.');
infoWindow.open(map);
}
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUyRd9XjujLS4KiHHjYOXGkodDVCuzv7U&callback=initMap">
</script>
</body>
