<div class="col-sm-6 col-sm-offset-3">
	<h1>
		Reset Password
	</h1>
	
	<% if (messages.error) { %>
		<div class="alert alert-danger"><%= messages.error %></div>
	<% } else if (messages.success) { %>
		<div class="alert alert-success"><%= messages.success %></div>
	<% } %>

	<form action="/reset-password" method="post">
		<input type="hidden" name="_csrf" value="<%= csrfToken %>" />

		<div class="form-group">
			<label>New Password</label>
			<input type="password" class="form-control" name="newPassword" required>
		</div>
		<div class="form-group">
			<label>Confirm Password</label>
			<input type="password" class="form-control" name="confirmPassword" required>
		</div>
		<button type="submit" class="btn btn-warning btn-lg">Reset Password</button>
	</form>
</div>