<!DOCTYPE html>
<html>
	<head>
		<title>App - <%= typeof title != "undefined" ? title : "" %></title>
		
		<meta charset="utf-8">
  		<meta name="viewport" content="width=device-width, initial-scale=1">

  		<!-- bootstrap and jquery css and js-->
		<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
		<script src="/jquery/jquery.min.js"></script>
		<script src="/bootstrap/js/bootstrap.min.js"></script>
		
		<!-- custom css and js -->
		<link rel="stylesheet" href="/stylesheets/style.css" />
		<link rel="stylesheet" href="/stylesheets/navbar.css" />
		<link rel="stylesheet" href="/stylesheets/sidebar.css" />
		<script src="/javascripts/navbar.js"></script>
	</head>
	<body>
		<% include _navbar %>
		<% include _sidebar %>

		<div id="page-content-wrapper">
			<div class="container">
				<%- body %>
			</div>
		</div>
	</body>
</html>