<div class="page-header text-center">
	<h1><span class="fa fa-anchor"></span> Profile Page</h1>
</div>

<div class="row">
	<div class="col-sm-6">
		<div class="well">
			<h3>Local Login</h3>
			<p>
				<strong>username</strong>: <%= user.local.username %><br>
				<strong>email</strong>: <%= user.local.email %><br>

				<strong>profile picture</strong> <br>
				<img src= "/img/<%= user.local.imgPath %>">
				<br>
				<a href="/profile/edit">Edit My Profile Picture</a>
			</p>
			<form method="POST" action="/profile/editemail/">
				<input type="hidden" name="_csrf" value="<%= csrfToken %>" />
					<label>Username or Email</label>
					<!--<input type="text" class="form-control" name="username" required>-->
					<input type="text" class="form-control" name="email" required>

					<button type="submit" class="btn btn-warning btn-lg">Update</button>
			</form>
		</div>
	</div>
</div>

<!--
<form action="/profile/upload/" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label="name">Add a picture for your article</label>
          <input id="upload-input" type="file" class="form-control" name="image"/>
        </div>
</form>
-->
