<div id="wrapper">
	<!-- Sidebar -->
	<div id="sidebar-wrapper">
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				Friends Online
			</li>
			<li>
				<a href="#">Friend 1</a>
			</li>
			<li>
				<a href="#">Friend 2</a>
			</li>
			<li>
				<a href="#">Friend 3</a>
			</li>
		</ul>
	</div>
</div>