<div id="wrapper" ng-app="friends-sidebar">
	<div id="sidebar-wrapper">
		<ng-view></ng-view>
	</div>

	<!-- Template -->
	<script type="text/ng-template" id="/users.html">
		<!-- Sidebar -->
		<ul class="sidebar-nav">
			<li class="sidebar-brand">
				Friends
			</li>
			<li ng-repeat="user in users | filter: search">
				
				<a href="#">
					<img src="/img/default-avatar.jpg" class="avatar-small">
					&nbsp;{{user.local.username}}&nbsp;
					<div id="online-status-{{user.local.username}}"></div>
				</a>
			</li>
		</ul>
	</script>

	<script>
		angular.module('friends-sidebar', ['ngRoute'])
			//---------------
			// Controllers
			//---------------
			.controller('UsersController', function ($scope, $http) {
				$http.get('/profile/friends', {
					headers: {
						'Accept': 'application/json'
					}
				}).then(function(response) {
					var users = response.data;
					$scope.users = users;
				});
			})

			//---------------
			// Routes
			//---------------
			.config(['$routeProvider', function ($routeProvider) {
				$routeProvider
					.when('/', {
						templateUrl: '/users.html',
						controller: 'UsersController'
					});
			}]);
	</script>

</div>